<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}
          {% if site.data.global.sub-title != '' %}
          <h2 class="text-center">{{site.data.global.sub-title}}</h2>
          {% endif %}
          {% if site.data.global.date != '' %}
          <h3 class="text-center">Date: {{site.data.global.date}}  @ Venue: {{site.data.global.venue}} </h3>
          {% endif %}
          {% if site.data.global.description != '' %}
          <p class="text-center"><b>{{site.data.global.description-bold}}</b> {{site.data.global.description}} </p>
          {% endif %}


          <div class="hero-buttons">

            {% if site.data.global.twitter != '' %}
              <a href="https://twitter.com/{{ site.data.global.twitter }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}
            {% if site.data.global.instagram != '' %}
              <a href="https://instagram.com/{{ site.data.global.instagram }}"><button class="btn btn-default btn-lg"><i class="fa fa-instagram fa-lg"></i>Instagram</button></a>
            {% endif %}
            {% if site.data.global.blog != '' %}
              <a href="https://{{ site.data.global.medium }}"><button class="btn btn-default btn-lg"><i class="fa fa-medium fa-lg"></i>Blog</button></a>
            {% endif %}

          </div>

          <div class="text-center">
            <p> {% include contact.html %}</p>
            {% include contact-modal.html %}

          </div>
        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
