<div class="content">
  <h3 class="title">{{ post.title }}</h3>
  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.categories contains 'steps' %}

  <p class="excerpt"><b>Step 1: </b>{{ post.step1_text }}</p>
  <p class="excerpt"><b>Step 2: </b>{{ post.step2_text }}</p>
  <p class="excerpt"><b>Step 3: </b>{{ post.step3_text }}</p>
  <p class="excerpt"><b>Step 4: </b>{{ post.step4_text }}</p>
  {% endif %}

  {% if post.categories contains 'rules' %}
  <p class="excerpt"><b>Eligibility: </b>{{ post.eligibility_text }}</p>
  <p class="excerpt"><b>Prizes: </b>{{ post.prizes_text}}</p>
  <p class="excerpt"><b>Judging: </b>{{ post.judging_text }}</p>
  <p class="excerpt"><b>Copyright:</b>{{ post.copyright_text }}</p>
  <p class="excerpt"><b>Themes:</b>{{ post.theme_text }}</p>
  {% endif %}



  {% if post.button_text != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}


  {% if post.categories != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

</div>
